<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="author" content="Paulo Henrique Tokarski Glinski @paulotokarskiglinski">
</head>
<body>
<h1>Fullstack-pedidos-api</h1>
<h2>Paulo Henrique Tokarski Glinski <i>paulotokarskiglinski@gmail.com</i></h2>
</body>
</html>
